@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @apply bg-primary font-noto font-400;
}

#root {
  @apply w-full h-full mx-auto my-0;
}

h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-3xl font-semibold;
}

.video-player {
  width: 100%;
  max-width: 450px; /* Adjust as needed */
  height: auto;
}
