@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 400; /* Default weight */
  font-size: 1rem; /* Tailwind class `text-base` */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @apply flex items-center justify-center min-w-[320px] min-h-screen m-0 bg-base-100 font-noto font-400;
}

#root {
  @apply min-h-screen flex flex-col justify-center items-center w-full h-full max-w-screen-xl mx-auto my-0;
}

h1 {
  @apply text-5xl font-bold;
}
h2{
  @apply text-3xl font-bold;
}

h3{
  @apply text-3xl font-semibold;
}