@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  box-sizing: border-box;
  height:100;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @apply bg-base-100 font-noto font-400;
}

#root {
  @apply flex flex-col justify-center items-center w-full h-full max-w-screen-xl mx-auto my-0;
}

h1 {
  @apply text-5xl font-bold;
}
h2{
  @apply text-3xl font-bold;
}

h3{
  @apply text-3xl font-semibold;
}